.app{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  color: white;
  background-image: url("./assest/backgroung.jpg");
  height: 100vh;
  padding: 17px;
}